$mobile-bg-color: #aaee00;
$desktop-bg-color: #ffdddd;
$mobile-border: solid 2px black;
$desktop-border: solid 2px red;
$font1: 'Barlow Semi Condensed', Serif;
$size1: '4em';

*{
  margin: 0px;
  padding: 0px;
}

body {
  font-family: $font1;
}

// <= 600px
@media screen and (max-width: 600px) {
  
  .header{    
    font-family: $font1;
    font-size: 30px;
    font-weight: 700;
    height: 7vh;
    display: flex;
    justify-content: center;
    align-items: center;    
    margin-bottom:20px;    
  }

  .historias-recientes{
    font-weight: 700;
    font-size: 30px;
    padding-left: 20px;
  }

  .row {
    display: flex; /* equal height of the children */
    padding: 0px 10px 0px 10px;
  }

  .col {    
    display: flex;
    flex: 1; /* additionally, equal width */
    padding: 0px 0px 0px 0px;  
    align-items: center;
  }

  .card-info{
    font-family: $font1;
    color: black;
    font-weight: 500;
    padding-left: 5px;      
  }

  .card-info .subtit{
    font-size: 20px;
    margin-bottom: 0px;
  }

  .card-info .tit{
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 0px;
  }

  .card-info .date{
    font-size: 18px;
  }

  .back-button{
    font-size: 18px;
    color: blue;
    font-weight: 700;
  }

  .info-card{
    margin-left:10px;
    margin-right:10px;  
    padding-left: 5px;
    padding-right: 10px;
  }

  .info-card .title{
    font-weight: 700;
    font-size: 22px;
    padding-left: 20px;
  }

}

