.topbox{
  display: flex;
  align-items: center;
  padding: "15px 0px 15px 0px"; 
  margin-top: "15px"; 
  background-color: white;
  height: 7vh;  

  /* FONT */
  color: gray;
  font-weight: 500;
  font-size: 4vw;
}

.mainbox{
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  justify-content: center;
  align-items: center;
  padding: "0px 0px 15px 0px";  
  background-color: #ffffff;
  height: 93vh;

  /* FONT */
  color: darkgray;
  /*font-family: 'Barlow Semi Condensed', sans-serif;*/
  font-weight: 600;  

}