.top{
  display: flex;
  align-items: center;
  padding: "15px 0px 15px 0px"; 
  margin-top: "15px"; 
  background-color: white;
  height: 6vh;  

  color: gray;
  font-family: "Arial";
  font-weight: 500;
  font-size: 3vw;
}


.headerbox{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: "15px 0px 15px 0px";  
  background-color: #ffffff;
  height: 18vh;
}

.title{  
  color: black;
  font-family: "Times New Roman";
  font-weight: 700;
  font-size: 8vw;
}
