.container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color:  #1B2A49;
  min-height: 10vh; 
}

.title{
  font-size: 1.20em;
  text-decoration: underline;
}

.box{
  background-color: #dbe5e6;  
  color: inherit;
  text-align: center
}

.navLink{
  color: white;
  font-weight:500;
  font-size: 18px;
  margin-right: 15px;
  text-decoration: none;
  background-color: transparent;
  text-align: center;
}

.copy{
  background-color: #034f84;
  color: white;
  font-weight: 500;
  font-size: 16px;
  text-decoration: none;
}