/* Container holding the image and the text */
.boxContainer {
  position: relative;
  font-family: Arial;
}

.text-block {
  position: relative;
  bottom: 200px;
  left: 30px;  
  color: white;
  padding-left: 20px;
  padding-right: 20px;
  font-weight: 400;
}

.card{  
  margin: 20px 10px;
}

.card-body a{
  color: #0c7f90;
  text-decoration: none;
  margin-top: auto;
  font-weight: 600;
}

.card-body a:hover{
  font-weight: 900;  
  color: red;
}

img {
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 5px;
  width: 75px;
}